.talents-filter {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.talents-filter__talents-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.talents-filter__checkbox-item {
    padding: 4px 6px;
}