.talent-form {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 24px;
    height: 100%;
}

.talent-form-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid var(--divider-color);
}

.talent-form-header__title {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-primary);
}

.talent-form-header__controls {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.talent-form-header__throbber {
    font-size: 22px;
    color: var(--accent);
}

.talent-form__body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 4px 12px 0;
    width: 100%;
}

.talent-form-row__left-label .ant-row {
    display: grid;
    grid-template-columns: 140px auto;
}

.talent-form-row__left-label .ant-row .ant-form-item-label {
    text-align: start;
}