.talent-form {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    gap: 24px;
    height: 100%;
}

.talent-form__body {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 4px 12px 0;
    width: 100%;
}

.talent-form__icon-button,
.talent-form__icon-button:hover {
    color: var(--icon-primary) !important;
}