.contact-section-companies__body {
    margin: 0px 6px 6px 6px;
}

.contact-section-companies__grid {
    gap: 2px;
}

.contact-section-companies__company {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 6px;
    border-radius: var(--border-radius-medium);
}

.contact-section-companies__company:hover {
    box-shadow: var(--menu-item-hover-box-shadow);
}

.contact-section-companies__company.active {
    background-color: var(--menu-item-background-color-active);
}

.contact-section-companies__company-name {
    font-weight: 700;
    color: var(--accent);
}

.contact-section-companies__company-job-title {
    color: var(--text-secondary);
}