.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.auth-page__content {
    width: 100%;
    max-width: 400px;
}

.auth-page__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.auth-page__header {
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}

.auth-page__title {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.auth-page__paragraph {
    color: var(--text-secondary);
    margin: 0;
}

.auth-page__body {
    padding: 24px;
}

.auth-page__footer {
    text-align: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.auth-form .ant-row .ant-form-item-label {
    padding-bottom: 4px !important;
}

.auth-form .ant-row .ant-form-item-label>label {
    font-size: 13px;
    color: var(--text-secondary);
}

.auth-form .ant-form-item-explain-error {
    padding-top: 4px;
}