.settings-menu,
.settings-menu__items {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

.settings-menu {
    gap: 24px;
}

.settings-menu-header {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--text-secondary);
    padding: 0 0 4px 0;
}

.settings-menu-item {
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: var(--border-radius);
    gap: 4px;
    border: 0;
    padding: 0;
    background-color: inherit;
    font-family: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}

.settings-menu-item:hover {
    box-shadow: var(--menu-item-hover-box-shadow);
}

.settings-menu-item.active {
    background-color: var(--menu-item-background-color-active);
}

.settings-menu-item_disabled {
    opacity: 0.35;
    cursor: not-allowed;
}

.settings-menu-item_disabled:hover {
    box-shadow: none;
}

.settings-menu-item__icon {
    font-size: 0;
    border: none;
    margin: 6px;
    color: var(--menu-item-icon-color);
}

.settings-menu-item__text {
    font-size: 14px;
    color: var(--menu-item-text-color);
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}