:root {
    --border-radius: 6px;
    --border-radius-medium: 8px;
    --border-radius-big: 12px;
    --scrollbar-color: rgba(0, 0, 0, 0.1);

    --background-primary: #F7F7F7;
    --background-secondary: #FFF;
    --background-tertiary: #F7F7F7;

    --text-primary: rgba(0, 0, 0, 0.9);
    --text-secondary: rgba(0, 0, 0, 0.5);

    --icon-primary: rgba(0, 0, 0, 0.4);
    --icon-secondary: rgba(0, 0, 0, 0.2);

    --accent: #0067c7;
    --accent-light: rgba(0, 103, 199, 0.5);
    --red: #EC0A0A;

    --warning-accent: oklch(82.8% 0.189 84.429 / 0.3);
    --warning-light: oklch(82.8% 0.189 84.429 / 0.05);

    --menu-item-icon-color: rgba(0, 0, 0, 0.4);
    --menu-item-text-color: rgba(0, 0, 0, 0.6);
    --menu-item-background-color-active: rgba(0, 0, 0, 0.04);
    --menu-item-hover-box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.06);

    --filter-icon-inactive-checkbox-color: rgba(0, 0, 0, 0.05);
    --filter-icon-active-checkbox-color: var(--accent);

    --avatar-background-color: rgba(0, 0, 0, 0.1);
    --avatar-text-color: rgba(0, 0, 0, 0.4);

    --icon-color-badge-border: rgba(0, 0, 0, 0.1);

    --drawer-background: #FFF;
    --drawer-mask: rgba(0, 0, 0, 0.55);

    --divider-color: rgba(0, 0, 0, 0.08);

    --nested-section-highlighted: rgb(239, 239, 239);
}

[data-theme="dark"] {
    --scrollbar-color: rgba(255, 255, 255, 0.1);

    --background-primary: #171717;
    --background-secondary: #1C1C1C;
    --background-tertiary: #212121;

    --text-primary: rgba(255, 255, 255, 0.85);
    --text-secondary: rgba(255, 255, 255, 0.5);

    --icon-primary: rgba(255, 255, 255, 0.4);
    --icon-secondary: rgba(255, 255, 255, 0.15);

    --accent: #71bbff;
    --accent-light: rgba(113, 186, 255, 0.3);
    --red: #D71515;

    --warning-accent: oklch(82.8% 0.189 84.429 / 0.2);
    --warning-light: oklch(82.8% 0.189 84.429 / 0.03);

    --menu-item-icon-color: rgba(255, 255, 255, 0.4);
    --menu-item-text-color: rgba(255, 255, 255, 0.6);
    --menu-item-background-color-active: rgba(255, 255, 255, 0.04);
    --menu-item-hover-box-shadow: inset 0 0 0 99999px rgba(255, 255, 255, 0.06);

    --filter-icon-inactive-checkbox-color: rgba(255, 255, 255, 0.05);
    --filter-icon-active-checkbox-color: var(--accent);

    --avatar-background-color: rgba(255, 255, 255, 0.1);
    --avatar-text-color: rgba(255, 255, 255, 0.4);

    --icon-color-badge-border: rgba(255, 255, 255, 0.1);

    --drawer-background: #171717;
    --drawer-mask: rgba(0, 0, 0, 0.85);

    --divider-color: rgba(255, 255, 255, 0.07);

    --nested-section-highlighted: rgb(41, 41, 41);
}