.genders-filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
}

.genders-filter__checkbox-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
