.managers-filter {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.managers-filter__managers-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.managers-filter__checkbox-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

