.preferences-filter {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.preferences-filter__checkbox-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
