.nested-section {
    border-radius: var(--border-radius-big);
    border: 1px solid var(--divider-color);
    color: var(--text-primary);
}

.nested-section__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin: 6px 6px 6px 12px;
    min-height: 32px;
}

.nested-section__header>div:first-child {
    /* This is a hack to align a text with buttons */
    padding-top: 1px;
}

.nested-section__body {
    margin: 12px;
}

.nested-section__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}

.nested-section__column {
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: hidden;
}

.nested-section__cell-horizontal {
    display: grid;
    grid-template-columns: 140px auto;
    gap: 12px;
}

.nested-section__cell-vertical {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.nested-section__item_with_icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
}

.nested-section__icon {
    font-size: 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.nested-section.highlighted {
    box-shadow: inset 0 0 0 2px var(--accent-light);
    transition: box-shadow 0.3s ease;
}

.nested-section__notes {
    background-color: var(--warning-light);
    border: 2px solid var(--warning-accent);
}