.contacts-list {
    min-height: 100vh;
    background-color: #fff;
    padding: 16px;
}

.contacts-table--table {
    container-type: inline-size;
}

.contacts-table--row-container {
    display: grid;
    grid-template-columns: 1fr 0.8fr 0.8fr 0.8fr 130px;
    column-gap: 24px;
    align-items: center;

    padding: 8px;
    border-radius: 4px;
}

.contacts-table--row:hover {
    box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.05);
}

.contacts-table--row div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

a.active>div.contacts-table--row {
    background-color: rgba(24, 144, 255, 0.1);
}

.contacts-table--header {
    border-bottom: 1px solid #E5E5E5;
}

.contacts-header--container {
    display: grid;
    grid-template-columns: auto 120px;
    column-gap: 0px;
    align-items: center;
    margin-bottom: 24px;
}

.contacts-header--left {
    justify-self: start;
}

.contacts-header--right {
    justify-self: end;
}