.contacts-list {
    height: 100vh;
    padding: 12px 0;
}

.contacts-list__section {
    padding: 6px 0 0 6px;
}

.contacts-list__header {
    padding-right: 6px;
    padding-bottom: 6px;
    display: grid;
    grid-template-columns: auto 32px;
    gap: 6px;
}

.contacts-list__body {
    padding-bottom: 6px;
}

.contacts-list__empty {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-list__item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 6px;
    color: var(--text-primary);
    border-radius: var(--border-radius);
    text-decoration: none;
}

.contacts-list__item:hover {
    box-shadow: var(--menu-item-hover-box-shadow);
}

.contacts-list__item.active {
    background-color: var(--menu-item-background-color-active);
}