.company-section-main {
    display: flex;
    flex-direction: row;
    padding: 12px;
    align-items: center;
}

.company-section-main__header {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.company-section-main__controls {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.company-section-main__company-name {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-primary);
}

.company-section-main__modal-form {
    display: flex;
    flex-direction: column;
    gap: 6px;
}