.company-section-contacts__contact {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 12px;
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--divider-color);
}

.company-section-contacts__contact:hover {
    box-shadow: var(--menu-item-hover-box-shadow);
}

.company-section-contacts__contact.active {
    background-color: var(--menu-item-background-color-active);
}

.company-section-contacts__contact_name {
    font-weight: 700;
    color: var(--text-primary);
}

.company-section-contacts__contact_job_title {
    color: var(--text-secondary);
}