.company-section-contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;
}

.company-section-contacts__header {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.company-section-contacts__info {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.company-section-contacts__buttons {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-left: auto;
}

.company-section-contacts__job_title {
    font-weight: 500;
}

.company-section-contacts__empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-weight: 500;
    color: var(--text-secondary);
}